<%=simple_form_for @person do |f|%>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :full_name%>
    <div class="form-group">
      <%= f.label :role %>
      <%= f.collection_select :role, Person::ROLE, :to_s, :to_s, :include_blank => true%>
  </div>
  <%= f.input :address1 %>
  <%= f.input :address2 %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.button :submit %>
<%end%>
